repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
    - id: check-json
    - id: check-added-large-files
      args: ["--maxkb=500"]
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/isort
  rev: 6.1.0
  hooks:
    - id: isort
